body{
    transition: background-color 1.6s linear;
background-color: #3f3f3f
}
#text,#author{
    transition: opacity 0.8s linear;
}
#wraper{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 550px;
    background-color: white;
    border-radius: 4px;
    padding: 15px;
}
#wraper >.btn{
float: right;
}
#wraper>#author{
    text-align: right;
    letter-spacing: 2px;
    font-weight: 500;
}
.btn:focus,.btn:active{
    outline:none;
    box-shadow: none;
}